<header class="bg-transparent px-4 py-2 h-14 flex relative w-full top-0 z-50">
  <div class="flex flex-row w-full items-center align-middle justify-between">
    <!-- Logo y título -->
    <div
      class="flex flex-row h-auto w-auto px-4 py-2 items-center align-middle mt-8"
    >
      <img
        src="/WhatIf-AI_Logo.png"
        alt="Logo de WhatIf AI"
        class="logo-img h-10 md:h-16"
      />
      <h1
        class="text-2xl md:text-3xl font-extrabold text-white items-center flex ml-4 md:ml-6"
      >
        <a href="/" class="font-orbitron md:text-lg">WhatIf AI</a>
      </h1>
    </div>

    <!-- Menu de hamburguesa: solo visible en dispositivos moviles -->
    <div
      class="md:hidden flex items-center mt-8 mr-4 transition-opacity duration-500 ease-in-out"
    >
      <button id="menu-btn" class="text-white focus:outline-none">
        <svg
          class="w-8 h-8"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-4 6h16"></path>
        </svg>
      </button>
    </div>
    <!-- Otros enlaces -->
    <div
      id="menu"
      class="hidden md:flex md:flex-row md:items-center md:mt-8 absolute md:relative top-20 left-0 w-full md:w-auto md:top-0 bg-black/80 md:bg-transparent p-8 md:p-0"
    >
      <nav class="flex flex-col md:flex-row items-center w-full">
        <a
          href="/"
          class="font-orbitron font-extrabold text-white text-xl mb-4 md:mb-0 md:ml-8 w-full text-center md:w-auto"
          >Inicio</a
        >
        <a
          href="https://github.com/Martin08ABM/WhatIf-AI"
          class="font-orbitron font-extrabold text-white text-xl mb-4 md:mb-0 md:ml-8 w-full text-center md:w-auto"
          target="_blank">Código fuente</a
        >
      </nav>

      <hr class="border-2 border-white w-20 separation-bar" />
      <!-- Registro e inicio de sesiónn -->
      <div
        class="flex flex-col md:flex-row items-center md:ml-8 md:mr-8 w-full"
      >
        <a
          href="/login"
          class="font-orbitron font-extrabold text-white text-xl mb-4 md:mb-0 md:mr-6 w-full text-center md:w-auto"
          >Iniciar sesión</a
        >
        <a
          href="/register"
          class="font-orbitron font-extrabold text-white text-xl w-full text-center md:w-auto"
          >Registrarse</a
        >
      </div>
    </div>
  </div>
</header>

<!-- Estilos para la imagen del logo -->
<style>
  .logo-img {
    filter: drop-shadow(2px 4px 15px rgb(161, 236, 255));
  }
  .separation-bar {
    transform: rotate(90deg);
  }
</style>

<!-- Scrpt para el menu lateral en dispositivos moviles -->
<script>
  const menuBtn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  menuBtn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>
