<footer
  class="bg-transparent px-4 py-2 h-auto md:h-14 flex bottom-0 fixed w-full"
>
  <div
    class="flex flex-col md:flex-row w-full items-center justify-center md:justify-between"
  >
    <section class="mb-2 md:mb-0 md:ml-4">
      <p
        class="font-orbitron font-medium text-neutral-600 text-[12px] text-center md:text-left"
      >
        Desarrollado por <a href="https://github.com/Martin08ABM"
          ><strong><em>Martin Adolfo Bravo Montaño</em></strong></a
        >
      </p>
    </section>
    <section
      class="flex flex-row justify-center md:justify-end items-center md:mr-8"
    >
      <p class="font-orbitron text-bold text-neutral-600 text-[12px]">
        <a href="/report-problems">¿Problemas?</a>
      </p>
      <p class="font-orbitron text-bold text-neutral-600 text-[12px] ml-8">
        <a href="/help">Ayuda</a>
      </p>
    </section>
  </div>
</footer>
