<header class="bg-transparent px-4 py-2 h-14 flex justify-between">
  <div class="flex flex-row h-auto w-auto px-4 py-2 items-center align-middle mt-8">
    <img src="/WhatIf-AI_Logo.png" alt="Logo de WhatIf AI" class="h-20 w-auto logo-img" />
    <h1 class="text-3xl font-extrabold text-white items-center flex ml-6">
      <a href="/" class="font-orbitron">WhatIf AI</a>
    </h1>
  </div>
  <div class="flex items-center mt-6">
    <nav>
      <a href="/">Inicio</a>
      <a href=""></a>
    </nav>
  </div>
</header>
<style>
  .logo-img{
    filter: drop-shadow(2px 4px 15px rgb(161, 236, 255));
  }