---
// Importación de los componentes de la web
import Layout from "../../layouts/Layout.astro";

// Importación de los historias de ejemplo
import { getEntry } from "astro:content";
const post = await getEntry("blog", "example1");
const { Content } = await post.render();
---

<Layout title={`WhatIf AI - ${post.data.title}`}>
  <main class="w-full bg-transparent prose prose-inver p-8">
    <h1 class="text-3xl text-white font-extrabold mb-4">{post.data.title}</h1>
    <article
      class="flex flex-col sm:max-w-[100%] md:max-w-[95%] lg:max-w-[90%] text-neutral-400 text-xl leading-8 px-6 py-4"
    >
      <p>
        <Content />
      </p>
    </article>
    <p class="text-neutral-600 mt-6 mb-6">
      Creado el: <strong>{post.data.date}</strong> | Creado por: <strong
        >{post.data.author}</strong
      >
    </p>
  </main>
</Layout>
